<!DOCTYPE html>
<html>
<head>
    <!-- Include jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header class="container">
        <div class="row text-center justify-content-center">
            <div class="col">
                <h5 class="display-4"> <b>Diabetes Risk Assessment System - DRAS</b></h5>
            </div>
        </div>
    </header>
    
    <!-- Your jQuery code -->
    <script>
        $(document).ready(function() {
            // Select the <h5> element within the <header> and change its text color to blue
            $('header.container h5').css('color', 'blue');
        });
    </script>
</body>
</html>